!!!
%html
  %head
    %title Fcchelsea
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :social_meta
  %body

    =render 'layouts/navbar'
    =render 'layouts/header'

    .container.master-container
      .master-container-inner
        = yield



      =render 'layouts/footer'

      #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ge_KA/all.js#xfbml=1&appId=621275447917435";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));